.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

ul.pagination {
  padding: 3px;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid red;
  border-radius: 11px;
}

.pagination li {
  padding: 1vmax 1.5vmax;
}

.pagination li:hover {
  font-weight: bold;
  background-color: rgb(14, 14, 14);
  color: rgb(249, 249, 249);
  border-radius: 30px;
}

.page-item {
  background-color: rgb(113, 0, 0);
  list-style: none;
  border: 5px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
  background-color: blue !important;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
  background-color: blue !important;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
  background-color: blue !important;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  background-color: blue !important;

  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}

.pageItemActive {
  background-color: tomato;
}

.pageLinkActive {
  color: white;
}
